.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    background-color:white ;
    width: 100px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: background-color 0.3s;
    z-index: 200;
}
/* Sidebar general layout */



/* Sidebar icon and label alignment */
.sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 24px;
    cursor: pointer;
    color: #606060;
    transition: color 0.3s;
}

.sidebar-link svg {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    fill: currentColor;
}

/* Icon label style */
.sidebar-label {
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    text-align: center;
    white-space: nowrap;
}

/* Hover effect for links */
.sidebar-link:hover {
    color: #000;
}